html {
  min-height: 100%;
  position: relative;

  body {
    margin-bottom: 60px;
  }

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #f5f5f5;

    .footer-block {
      margin: 20px 0;
    }
  }
}